nav
  .nav-wrapper.center-align
    a.brand-logo.hide-on-large-only.left(href="#!") Renacer
    a.sidenav-trigger.right(href="#" data-target="mobile-demo")
      i.material-icons menu
    ul.hide-on-med-and-down.main-menu
      each page in pages
        li
          a(href=page.url itemprop="name")= page.title

ul.sidenav#mobile-demo
  each page in pages
    li
      a(href=page.url itemprop="name")= page.title