-let pageTitle = 'Home'
-let siteName = 'EDboilerplate'
-let twitterAccount = '@edteamlat'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Home',
      url: '/',
      child: []
    },
    {
      title: 'About',
      url: 'about.html',
      child: [
        {
          title: 'Subitem1',
          url: 'subitem1.html'
        },
        {
          title: 'Subitem2',
          url: 'subitem2.html'
        }
      ]
    }
  ]
-
  let img_all = [
    {
      nombre: "http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por1_jpg_500f7bd6de736ff2c2208274d728fec8.jpg",
      alt: "img-1",
    },
    {
      nombre:"http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por3_jpg_ee0b773d34dc987be6b46d77a2fd1fbd.jpg",
      alt: "img-2",
    }
  ]

-
  let img_bodas = [
      {
      nombre: "http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por1_jpg_500f7bd6de736ff2c2208274d728fec8.jpg",
      alt: "img-1",
    },
    {
      nombre:"http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por3_jpg_ee0b773d34dc987be6b46d77a2fd1fbd.jpg",
      alt: "img-2",
    },
      {
      nombre: "http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por1_jpg_500f7bd6de736ff2c2208274d728fec8.jpg",
      alt: "img-1",
    },
    {
      nombre:"http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por3_jpg_ee0b773d34dc987be6b46d77a2fd1fbd.jpg",
      alt: "img-2",
    },
      {
      nombre: "http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por1_jpg_500f7bd6de736ff2c2208274d728fec8.jpg",
      alt: "img-1",
    },
    {
      nombre:"http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por3_jpg_ee0b773d34dc987be6b46d77a2fd1fbd.jpg",
      alt: "img-2",
    },
      {
      nombre: "http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por1_jpg_500f7bd6de736ff2c2208274d728fec8.jpg",
      alt: "img-1",
    },
    {
      nombre:"http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por3_jpg_ee0b773d34dc987be6b46d77a2fd1fbd.jpg",
      alt: "img-2",
    },
      {
      nombre: "http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por1_jpg_500f7bd6de736ff2c2208274d728fec8.jpg",
      alt: "img-1",
    },
    {
      nombre:"http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por3_jpg_ee0b773d34dc987be6b46d77a2fd1fbd.jpg",
      alt: "img-2",
    },
      {
      nombre: "http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por1_jpg_500f7bd6de736ff2c2208274d728fec8.jpg",
      alt: "img-1",
    },
    {
      nombre:"http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por3_jpg_ee0b773d34dc987be6b46d77a2fd1fbd.jpg",
      alt: "img-2",
    }
  ]

-
  let img_quince = [
    {
      nombre: "http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por1_jpg_500f7bd6de736ff2c2208274d728fec8.jpg",
      alt: "img-1",
    },
    {
      nombre:"http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por3_jpg_ee0b773d34dc987be6b46d77a2fd1fbd.jpg",
      alt: "img-2",
    }
  ]

-
  let img_bautismo = [
    {
      nombre: "http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por1_jpg_500f7bd6de736ff2c2208274d728fec8.jpg",
      alt: "img-1",
    },
    {
      nombre:"http://demo2.ltheme.com/joomla-one-page-templates/lt-wedding/cache/advportfoliopro/por3_jpg_ee0b773d34dc987be6b46d77a2fd1fbd.jpg",
      alt: "img-2",
    }
  ]